snippet fori
	<% for ${1:item} in ${2:items} -%>
		<%= $1.name %>
	<% end -%>
snippet end
	<% end -%>
snippet form
	<% form_for ${1} do |${2:f}| %>
		${3}
		<p class="button"><%= $2.submit %></p>
	<% end %>
snippet field
	<p>
		<%= ${1:f}.label :${2:name} %>
		<%= $1.text_field :$2 %>
	</p>
	${3}
