priority 1

snippet arr "Fat arrow" w
(${1:args}) => {$2}
endsnippet

snippet imp "import" b
import ${1:Object} from '${2:module}';
endsnippet

snippet imb "import blank" b
import '${1:module}';
endsnippet
